.App {
  background-color: #F1F2F4;
}

.App-header {
  background-color: #FFB113;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* 
#C52710; red
#E24816; orange
#F59447; peach
#F37923; nectarine
#FCD135; light-yellow
#FFB113; yellow
#44A9D6; cerulean
#264979; blue
#3D4284; indigo
#F1F2F4; background gray

*/